# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.crowd-territory.iml
# Datasource local storage ignored files
/../../../../../:\crowd-territory\.idea\.idea.crowd-territory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
